
<ion-content  >
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <ion-searchbar style="--border-radius: 50px;--background:#B2D960;height: 100%;" aria-placeholder="Search Hotel"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row >
    <ion-col style="text-align: center;">
      <h3>BOOKING SUCCESSFUL!</h3>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col style="text-align: center;">
      <ion-button expand="full" color="danger">Return Home</ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
