


<ion-content>
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon name="arrow-back-outline"  [routerLink]="'/gallaries'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
      </ion-row>
  </ion-grid>
  
 
  
  <ion-grid>
    <ion-row *ngFor="let x of list" class="gallery">
      <ion-col>
        <ion-img [src]="x.imgUrl" alt="Cinque Terre" width="600" height="400"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>












