

<ion-content [fullscreen]="true">
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="2">
        <ion-icon name="arrow-back-outline"  [routerLink]="'/booking-list'"  style="color:#486606;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
      <ion-col>
      <ion-icon name="person-circle-outline" [routerLink]="'/user-panel'"   style="color:#486606;font-size: 2em;float:right;"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon (click)="signOut()" style="color:#486606;font-size: 2em;float:right;" name="log-out-outline"></ion-icon>
    </ion-col>
    </ion-row>
  </ion-grid>
 <div *ngFor="let item of profiles" > 
  <ion-card  >
    <ion-card-header>
      <ion-img style="width:100%;" [src]="item.imgUrl">
      </ion-img>
      <ion-card-subtitle style="color:#66861f;"><b>HOTEL NAME:</b> </ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"> {{item.company_name}}</ion-card-subtitle>
      <ion-card-subtitle>
      <div *ngIf="item.rating==1">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
      </div>
      <div *ngIf="item.rating==2">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
      </div>
      <div *ngIf="item.rating==3">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
      </div>
      <div *ngIf="item.rating==4">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
      </div>
      <div *ngIf="item.rating==5">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
        <img  style="width:7%;height: 15px;" src="./../../assets/icon/star-icon.png">
      </div>
      </ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"><b>ABOUT</b></ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"> {{item.history}}</ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"><b>LOCATION</b></ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"> {{item.address}}</ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;"><b>CONTACTS</b></ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;">Telephone: {{item.company_tel}}</ion-card-subtitle>
      <ion-card-subtitle style="color:#66861f;">Email: smuts@gmail.com</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
 

  <ion-grid  >
    <ion-row>
    <ion-segment style="position: absolute;bottom: 10px;" >
      <ion-segment-button  [routerLink]="'/booking/'+hotelid"    style="--background:#4d6e05;color:#fff;"  value="enemies">
        <ion-label>MAKE BOOKING!</ion-label>
      </ion-segment-button>
    </ion-segment>
    </ion-row>
  </ion-grid>
</div>
</ion-content>








