
<ion-content>
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon name="arrow-back-outline"  [routerLink]="'/hotel-panel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;color:#5a751e;">
        <h1>Create Profile Hotel</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">company phone</ion-label>
        <ion-input [(ngModel)]="company_tel"  name="email"  type="text"></ion-input>
      </ion-item>
    </ion-col>
 
    <ion-col>
      <ion-item>
        <ion-label position="floating">Employee Id</ion-label>
        <ion-input [(ngModel)]="employee_id"  name="employee_id"  type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Hotel Name</ion-label>
        <ion-input [(ngModel)]="company_name"  name="company_name"  type="text"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>Rating</ion-label>
        <ion-select [(ngModel)]="rating"  name="rating"  >
          <ion-select-option value="brown">1</ion-select-option>
          <ion-select-option value="blonde">2</ion-select-option>
          <ion-select-option value="black">3</ion-select-option>
          <ion-select-option value="red">4</ion-select-option>
          <ion-select-option value="red">5</ion-select-option>
        </ion-select>
      </ion-item>


    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">address</ion-label>
        <ion-textarea [(ngModel)]="address"  name="address"  type="text"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">history</ion-label>
        <ion-textarea [(ngModel)]="history"  name="history"  type="text"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>
        <ion-input type="file" accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Prices</ion-label>
        <ion-input [(ngModel)]="price"  name="price"  type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button expand="block" style="--background:#3b38f3;" expand="full"  (click)=" hotelAccounts()" >Create</ion-button>


</ion-content>

