
<ion-item-divider>
  <ion-grid> 
    <ion-row>
      image-gallary
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="arrow-back-outline"  [routerLink]="'/list-hotel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item-divider>
<ion-content>


 
  
  <ion-grid>
    <ion-row>
      <div *ngFor="let x of list" class="gallery">
        <a target="_blank">
          <ion-img [src]="x.profile_url" alt="Cinque Terre" width="600" height="400"></ion-img>
        </a>
        </div>
    </ion-row>
  </ion-grid>

</ion-content>
