
<ion-content  >

  <ion-row *ngFor="let x of list"> 
    <ion-card style="width:100%;">
      <ion-list  *ngFor="let y of  profile">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-chip style="--background:white">
              <ion-avatar>
                <img [src]="y.profile_url">
              </ion-avatar>
              <ion-label>    {{y.name}} {{y.surname}}</ion-label>
            </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-list>
      <span><b>Check in:</b> {{x.checkin}}</span><br>   
      <span><b>Check out:</b> {{x.checkout}}</span><br> 
      <span><b>Kids:</b> {{x.kids}}</span><br>  
      <span><b>Adult:</b> {{x.adult}}</span><br>    
      <span><b>Rooms:</b> {{x.rooms}}</span><br>  
      <span><b>Date:</b> {{x.date}}</span><br> 
      <span><b>Time:</b> {{x.time}}</span><br>  
      <span><b>Status:</b> {{x.status}}</span><br>   
   </ion-card>
  </ion-row>


  ---------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------
<!--
 <ion-grid>
<ion-row>
  <h1>UserProfile view</h1>
</ion-row>
  <ion-row *ngFor="let x of arrayProfileImg">
      <ion-card >
          <ion-img  style="width:100%;height: 100%;padding:0%" [src]="x.imgUrl"></ion-img>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Name: {{x.hotelname}}</ion-label></ion-col>
          <ion-col><ion-label>Rating: <ion-icon style="color:gold;font-size:1em" name="star-outline"></ion-icon> {{x.rating}}</ion-label></ion-col>
        </ion-row>
      </ion-grid>
  </ion-row>
</ion-grid>  -->

---------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------
<!-- 
<ion-grid>
<ion-row>
  <h1>Show All Hotel lists</h1>
</ion-row>
  <ion-row *ngFor="let y of arrayProfileImg">
      <ion-card >
          <ion-img  style="width:100%;height: 100%;padding:0%" [src]="y.imgUrl"></ion-img>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Name: {{y.hotelname}}</ion-label></ion-col>
          <ion-col><ion-label>Rating: <ion-icon style="color:gold;font-size:1em" name="star-outline"></ion-icon> {{y.rating}}</ion-label></ion-col>
        </ion-row>
      </ion-grid>
  </ion-row>
</ion-grid>  -->


  <!-- <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;text-align:center;">
    <h2>Current Booking</h2>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
</ion-grid> -->


</ion-content>
