
<ion-content  >
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;text-align:center;">
    <h2>Current Booking</h2>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid #91C622;border-bottom:1px solid #91C622;">
    <ion-col>
      <ion-img  fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-img style="" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
    <ion-col>
     <ion-label>hotel name</ion-label><br>
     <ion-label>checkin</ion-label><br>
     <ion-label>checkout</ion-label><br>
     <ion-label>time</ion-label><br>
     <ion-label>date</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
