<ion-item-divider>
  <ion-grid> 
    <ion-row>
      <ion-col>
        <ion-icon name="arrow-back-outline"  [routerLink]="'/hotel-panel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
    <ion-col>
      <ion-icon (click)="signOut()" style="color:black;font-size: 2em;float:right;" name="log-out-outline"></ion-icon>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-item-divider>
<ion-content>
  <ion-row *ngFor="let x of list">
    <ion-card style="width:100%;">
      <span><b>Email:</b> {{x.user_email}}</span><br>   
       <span><b>Check In:</b>  {{x.checkin}}</span><br>
       <span><b>Check Out:</b> {{x.checkout}}</span><br>
       <span><b>Adults:</b> {{x.adults}}</span><br>
       <span><b>Kids:</b> {{x.kids}}</span><br>
       <span><b>Rooms:</b> {{x.rooms}}</span><br>
       <span><b>Status:</b> {{x.status}}</span><br>
       <ion-button (click)="status(x.hotel_id,x.uid,'1')">Accept</ion-button>
   </ion-card>
  </ion-row>
</ion-content>
