
<ion-content  >
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon name="arrow-back-outline"  [routerLink]="'/hotel-panel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;color:#5a751e;">
        <h1>Upload Images</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>


<ion-row>
  <ion-col>
    <ion-item>
      <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>
      <ion-input type="file" accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<br>
<br>

<ion-row>
  <ion-col>
    <ion-button expand="block" style="--background:#196F3D;" expand="full"  (click)=" gallaryUpload()" >Upload</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" style="--background:#196F3D;" expand="full" [routerLink]="'/image-gallary'"   >View Images</ion-button>
  </ion-col>
</ion-row>




</ion-content>
