<ion-content style=" --background:#91C622"  >
  <a href="list-hotel">
  <ion-grid style="margin-top: 150px;">
  <ion-row>
    <ion-col style="color:#4F7107; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif" size="12">
      Welcome To
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style=" margin-left: 16%;" size="8">
         <ion-img  
         src="https://mail.google.com/mail/u/0?ui=2&ik=d09dfa00ae&attid=0.1&permmsgid=msg-a:r1841261310819564135&th=17572584c580c851&view=att&disp=safe&realattid=f_kgu964580"
         ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  style="top:-18px;color:#4F7107; text-align: center;font-family:fantasy;font-size: 1.5em;" size="12">
      GreenApple
    </ion-col>
  </ion-row>
  </ion-grid>
</a>

</ion-content>
