
<ion-content  >
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon (click)="signOut()" style="color:black;font-size: 2em;float:right;" name="log-out-outline"></ion-icon></ion-col> 
    </ion-row>
  </ion-grid>

<ion-grid style="margin-top: 100px;">
  <ion-row>
    <ion-col>
      <ion-item>
        
        <ion-card style="width:100%;height:100%" >
          <ion-card-content>
            <a  [routerLink]="'/hotel-details'" > <ion-icon style="color:#91C622;width:100%;height: 50px;"  name="person-circle-outline"></ion-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-card style="width:100%;height:100%" >
          <ion-card-content>
            <a [routerLink]="'/gallaries'" ><ion-icon style="color:#91C622;width:100%;height: 50px;" name="images-outline"></ion-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-col>
</ion-row>
<ion-row>
<ion-col size="6">
  <ion-item>
    <ion-card style="width:100%;height:100%" >
      <ion-card-content>
        <a  [routerLink]="'/view-bookings'" ><ion-icon style="color:#91C622;width:100%;height: 50px;" name="laptop-outline"></ion-icon></a>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-col>
</ion-row>
</ion-grid>



</ion-content>

