
<ion-content  >
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon (click)="signOut()" style="color:black;font-size: 2em;float:right;" name="log-out-outline"></ion-icon></ion-col> 
    </ion-row>
  </ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <a  [routerLink]="'/hotel-details'" >EDIT PROFILE</a>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <a [routerLink]="'/gallaries'" >GALLARY</a>
      </ion-item>
    </ion-col>
</ion-row>
<ion-row>
  <ion-item>
  <a  [routerLink]="'/view-bookings'" >VIEW BOOKINGS</a>
</ion-item>
</ion-row>
</ion-grid>



</ion-content>

