
<ion-content  >
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <ion-searchbar style="--border-radius: 50px;--background:#B2D960;height: 100%;" aria-placeholder="Search Hotel"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<h1 style="text-align: center;">Payment</h1>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Bank Name</ion-label>
        <ion-select [(ngModel)]="bankName" placeholder="Bank Name">
          <ion-select-option value="fnb">FNB</ion-select-option>
          <ion-select-option value="nedbank">Nedbank</ion-select-option>
          <ion-select-option value="absa">Absa</ion-select-option>
          <ion-select-option value="capitec">Capitec</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Card Number</ion-label>
        <ion-input [(ngModel)]="cardno" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select [(ngModel)]="month" type="text" placeholder="Month">
        <ion-select-option value="january">January</ion-select-option>
        <ion-select-option value="february">February</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-select [(ngModel)]="year" placeholder="Year">
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">VCC</ion-label>
        <ion-input [(ngModel)]="vcc" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item> 
        <ion-button expand="block" style="--background:#196F3D;" (click)="payment()"  expand="full" >Full Button</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
