
<ion-content  >
<a href="feedback">
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <ion-searchbar style="--border-radius: 50px;--background:#B2D960;height: 100%;" aria-placeholder="Search Hotel"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<h1 style="text-align: center;">Payment</h1>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Bank Name</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-col>

    <ion-col>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>VCC</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</a>
</ion-content>
