
<ion-content  >
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <h1 style="text-align: center;color:#fff;">Welcome <User></h1>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col>
    <a href="booking-history">Booking History</a>  
    </ion-col>
    <ion-col>
      <a href="current-booking">  Current Booking </a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <a href="user-profile"> Update Profile</a>
    </ion-col>
  </ion-row>
  </ion-grid>




</ion-content>
