

<ion-content [fullscreen]="true">
  
  <ion-grid style="height:15%;background-color:#91C622;padding:0%; "  >
    <ion-row style="padding-top: 30px;;">
      <ion-col size="12">
        <ion-searchbar style="--border-radius: 50px;--background:#B2D960;height: 100%;" aria-placeholder="Search Hotel"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid   >
    <ion-row >
      <ion-img style="width:100%;" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
      <ion-col >
            <ion-card-subtitle>Name: Cape Town Hotel</ion-card-subtitle>
            <ion-card-subtitle>Rating: ******</ion-card-subtitle>
            <ion-card-subtitle>Location: Dreyersdal Cape Town, 7945</ion-card-subtitle>
            <ion-card-subtitle>Tel: 012 987 1029</ion-card-subtitle>
            <ion-card-subtitle>Email: capehotel@caphet.com</ion-card-subtitle>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col >
        <ion-card-subtitle style="font-weight:bold">ABOUT</ion-card-subtitle> 
          <ion-card-subtitle>Name: Cape Town Hotel</ion-card-subtitle>
          <ion-card-subtitle>Rating: ******</ion-card-subtitle>
          <ion-card-subtitle>Location: Dreyersdal Cape Town, 7945</ion-card-subtitle>
          <ion-card-subtitle>Tel: 012 987 1029</ion-card-subtitle>
          <ion-card-subtitle>Email: capehotel@caphet.com</ion-card-subtitle>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <a href="gallaries">
        <ion-button style="--background: #fff;border:3px solid #91C622;border-radius: 5px;" expand="full" fill="outline">Full Button</ion-button>
      </a>
    </ion-col>
    <ion-col >
      
      <a href="choose-account">
      <ion-button   style="--background: #fff;--background:#91C622;border-radius: 5px;" expand="full">Full Button</ion-button>
      </a>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


