

<ion-content [fullscreen]="true">
  
  <ion-grid style="height:15%;background-color:#91C622;padding:0%; "  >
    <ion-row style="padding-top: 30px;;">
      <ion-col size="12">
        <ion-searchbar style="--border-radius: 50px;--background:#B2D960;height: 100%;" aria-placeholder="Search Hotel"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="arrow-back-outline"  [routerLink]="'/list-hotel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid  *ngFor="let item of profiles" >
    <ion-row >
      <ion-img style="width:100%;" [src]="item.profile_url">
      </ion-img>
      <ion-col >
            <ion-card-subtitle>Name: {{item.company_name}}</ion-card-subtitle>
            <ion-card-subtitle>Rating: {{item.rating}}</ion-card-subtitle>
            <ion-card-subtitle>Location: {{item.address}}</ion-card-subtitle>
            <ion-card-subtitle>Tel: 012 987 1029</ion-card-subtitle>
            <ion-card-subtitle>Email: capehotel@caphet.com</ion-card-subtitle>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col >
        <ion-card-subtitle style="font-weight:bold">ABOUT</ion-card-subtitle> 
          <ion-card-subtitle>{{item.history}}</ion-card-subtitle>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        
        <ion-button [routerLink]="'/hotel-imgs/'+item.owner_uid" style="--background: #fff;border:3px solid #91C622;border-radius: 5px;" expand="full" fill="outline">Gallary</ion-button>
      
    </ion-col>
    <ion-col >
      
    
      <ion-button [routerLink]="'/choose-account'"  style="--background: #fff;--background:#91C622;border-radius: 5px;" expand="full">Book Now!</ion-button>
    
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


