
<ion-content>
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="12">
        <ion-icon name="arrow-back-outline"  [routerLink]="'/choose-account'"  style="color:#fdfdfd ;font-size: 2em;float:right;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>  <br>  <br>  <br>  
<ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;color:#5a751e;">
        <h1>Sign Up</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  style="color:#058a3c;" position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email"  name="email"  type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  style="color:#058a3c;" position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password"  name="password" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button expand="block" style="--background:#196F3D;" expand="full" (click)="createUser()" >Sign Up</ion-button>
</ion-content>





















<!-- 
<ion-content  >
  
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <h1 style="text-align: center;color:#fff;">Sign Up</h1>
    </ion-col>
  </ion-row>
</ion-grid>
<br>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Employee Number</ion-label>
        <ion-input [(ngModel)]="employee_no"  name="employee_no"  type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Company Email</ion-label>
        <ion-input [(ngModel)]="company_email"  name="company_email" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Company Phone</ion-label>
        <ion-input [(ngModel)]="company_phone"  name="company_phone" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Create Password</ion-label>
        <ion-input [(ngModel)]="hotel_password"  name="hotel_password" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-button expand="block" style="--background:#196F3D;" expand="full" (click)="  hotelSignUp()" >Full Button</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <a href="hotel-sigin">Already Have Account?Login here</a>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content> -->
