
<ion-content  >
  
  <ion-grid style="height:20%;background-color:#91C622;padding:0%; "  >
  <ion-row style="padding-top: 40px;;">
    <ion-col size="12">
      <h1 style="text-align: center;color:#fff;">Sign Up</h1>
    </ion-col>
  </ion-row>
</ion-grid>
<br>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Employee Number</ion-label>
        <ion-input [(ngModel)]="employee_no"  name="employee_no"  type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Company Email</ion-label>
        <ion-input [(ngModel)]="company_email"  name="company_email" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Company Phone</ion-label>
        <ion-input [(ngModel)]="company_phone"  name="company_phone" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Create Password</ion-label>
        <ion-input [(ngModel)]="hotel_password"  name="hotel_password" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-button expand="block" style="--background:#196F3D;" expand="full" (click)="  hotelSignUp()" >Full Button</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <a href="hotel-sigin">Already Have Account?Login here</a>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
