<ion-content  >
  <ion-grid  style="background-color:#91C622;padding:0%;" >
    <ion-row >
      <ion-col size="1.5">
    
        <ion-icon name="arrow-back-outline"  [routerLink]="'/user-panel'"  style="color:black;font-size: 2em;float:right;"></ion-icon>
    
      </ion-col>
      <ion-col size="10">
    
        <ion-icon (click)="signOut()" style="color:black;font-size: 2em;float:right;" name="log-out-outline"></ion-icon>
    
      </ion-col>
      </ion-row>
  </ion-grid> 


<ion-content  >
<br>

<form   novalidate #profileForm="ngForm" (ngSubmit)="hotelAccounts()">
  <h1 style="text-align: center;color:#5e8802">Create Profile</h1>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="formData.name"
                   name="name"  
                   #name="ngModel"
                   type="text"
                   required
                   ></ion-input>
      </ion-item>
      <ion-item *ngIf="!name.valid && name.touched">
        <ion-text color="danger">name required</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> 
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input [(ngModel)]="formData.surname"  
                   name="surname"  
                   #surname="ngModel"
                   type="text"
                   required
                   ></ion-input>
      </ion-item>
      <ion-item *ngIf="!surname.valid && surname.touched">
        <ion-text color="danger">surname required</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
<ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-textarea [(ngModel)]="formData.phone"  
                      name="phone"  
                      #phone="ngModel"
                      type="text"
                      required
                      ></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!phone.valid && phone.touched">
        <ion-text color="danger">phone required</ion-text>
      </ion-item>
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>
        <ion-input type="file" [(ngModel)]="formData.img" required  #img="ngModel" name="img"  accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!img.valid && img.touched">
        <ion-text color="danger">Image required</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
 <ion-button expand="block" [disabled] = "!profileForm.form.valid"    
            style="--background:#196F3D;" expand="full" 
            *ngIf="this.show==0"  >Full Button</ion-button> 
         
            </form>
</ion-content>


<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <ion-img style="width:100%;border-radius:50px;" fill="round" src="
      https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCSUHYILXzOcXLITzTZ07Y5T85V49AfSSlnA&usqp=CAU">
      </ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <ion-label>Name Surname</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Email</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Tel/Celphone</ion-label>
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Address</ion-label>
    </ion-col>
  </ion-row>
</ion-grid> -->
</ion-content>
